{% extends "visualCliente/padre_breadcrumbs.html" %}
{% load static %}

{% block titulo %}
    Especie
{% endblock %}



{% block contenido %}

<!-- ======= Blog Details Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row g-5">

          <div class="col-lg-8">

            <article class="blog-details">
                {% if object.Imagen %}
              <div class="post-img">
                <img src="{{ object.Imagen.url }}" alt="" class="img-fluid">
              </div>
                {% endif %}
              <h2 class="title">{{object.nombreCientifico}}</h2>

              <div class="meta-top">
                <ul>
                  <li class="d-flex align-items-center">
                    <i class="bi {% if object.tipoDeEspecie == 'animal' %}bi-piggy-bank {% else %}bi-flower1 {% endif %}"
                    ></i>
<!--                      <a href="blog-details.html"> </a>-->
                          {{object.tipoDeEspecie}}</li>

                </ul>
              </div><!-- End meta top -->

              <div class="content">
                <h3>{{object.nombreComun}}</h3>
                {% if object.descripcion %}
                <p>
                  {{object.descripcion|safe}}
                </p>
                {% endif %}

              </div><!-- End post content -->

<!--              <div class="meta-bottom">-->
<!--                <i class="bi bi-folder"></i>-->
<!--                <ul class="cats">-->
<!--                  <li><a href="#">Business</a></li>-->
<!--                </ul>-->

<!--                <i class="bi bi-tags"></i>-->
<!--                <ul class="tags">-->
<!--                  <li><a href="#">Creative</a></li>-->
<!--                  <li><a href="#">Tips</a></li>-->
<!--                  <li><a href="#">Marketing</a></li>-->
<!--                </ul>-->
<!--              </div>-->
                <!-- End meta bottom -->

            </article><!-- End blog post -->

<!--            <div class="post-author d-flex align-items-center">-->
<!--              <img src="assets/img/blog/blog-author.jpg" class="rounded-circle flex-shrink-0" alt="">-->
<!--              <div>-->
<!--                <h4>Jane Smith</h4>-->
<!--                <div class="social-links">-->
<!--                  <a href="https://twitters.com/#"><i class="bi bi-twitter"></i></a>-->
<!--                  <a href="https://facebook.com/#"><i class="bi bi-facebook"></i></a>-->
<!--                  <a href="https://instagram.com/#"><i class="biu bi-instagram"></i></a>-->
<!--                </div>-->
<!--                <p>-->
<!--                  Itaque quidem optio quia voluptatibus dolorem dolor. Modi eum sed possimus accusantium. Quas repellat-->
<!--                  voluptatem officia numquam sint aspernatur voluptas. Esse et accusantium ut unde voluptas.-->
<!--                </p>-->
<!--              </div>-->
<!--            </div>-->
              <!-- End post author -->


          </div>

          <div class="col-lg-4">

            <div class="sidebar">
            <!--
              <div class="sidebar-item search-form">
                <h3 class="sidebar-title">Search</h3>
                <form action="" class="mt-3">
                  <input type="text">
                  <button type="submit"><i class="bi bi-search"></i></button>
                </form>
              </div>-->
                <!-- End sidebar search formn-->


              <div class="sidebar-item categories">
                <h3 class="sidebar-title">Características</h3>
                <ul class="mt-3">

                  <li><i class="bi bi-back"></i><b> Nombre Científico:</b> </li>
                  <li><i class="bi bi-dot"></i> {{object.nombreCientifico}}</li>
                  <li><i class="bi bi-back"></i><b> Nombre Común:</b> </li>
                  <li><i class="bi bi-dot"></i> {{object.nombreComun}}</li>
                  <li><i class="bi {% if object.tipoDeEspecie == 'animal' %}bi-piggy-bank {% else %}bi-flower1 {% endif %}"></i><b> Tipo:</b> {{object.tipoDeEspecie}}<br/></li>

              </ul>
              </div>



              <div class="sidebar-item recent-posts">
                <h3 class="sidebar-title">Tecnologías</h3>

                <div class="mt-3">
                    {% for tec in object.tecnologia_set.all %}



                  <div class="post-item mt-3">


                      <ul class="ul_sin_puntos"
                      style="    list-style: none; padding: 0;"
                      >
                        <li class="text-center" ><img src="{% if tec.Imagen %}{{tec.Imagen.url}}{% else %}{% static 'img/tecnologia_no_imagen.jpg' %}{% endif %}"
                                                      alt=""
                                                      style="margin-right: 0;"
                        ></li>
                        <li class="text-center mt-2" ><h4>
                          <a href="/Servicios/Tecnologias/findById/{{tec.id}}">
                            {{tec.nombre}}</a></h4></li>
                        <li><i class="bi bi-bookmark"></i><b> Tipo:</b> <span>{{tec.tipoDeTecnologia.nombre}}</span></li>



                      </ul>


                  </div><!-- End recent post item-->
                {% empty %}
                  <div class="post-item mt-3">
                    <i class="bi bi-tag "></i> No se encontraron Tecnologías.
                  </div>

                {% endfor %}


                </div>

              </div><!-- End sidebar recent posts-->

                <div class="sidebar-item tags">
                <h3 class="sidebar-title">Instituciones</h3>
                <ul class="mt-3">
                    {% for inst in industrias %}
                    <li><a href="/instituciones_tecnologicas/findById/{{inst.id}}">{{inst.NombreAbreviado}}</a></li>
                    {% empty %}
                    <li><i class="bi bi-tag "></i> No se encontraron Instituciones.</li>


                {% endfor %}



                </ul>
              </div><!-- End sidebar tags-->


              <!-- End sidebar categories bounding-box-circles-->


            </div><!-- End Blog Sidebar -->

          </div>
        </div>

      </div>
    </section><!-- End Blog Details Section -->





{% endblock%}

{% block scripts_extras %}


{% endblock%}