{% extends "visualCliente/lista_agradable.html" %}
{% load static %}

{% block titulo %}
    Lista de Especies
{% endblock %}



{#{% block option_campos_select_filtros %}#}
{#<option value="nombreCientifico">Científico</option>#}
{#<option value="nombreComun">Común</option>#}
{#<option value="tipoDeEspecie">Tipo</option>#}
{#<!--<option value="especie_nombreComun">Especie</option>-->#}
{#<!--<option value="especie_nombreCientifico">Especie Nombre Científico </option>  Nombre Común-->#}
{#<!--<option value="especie_tipoDeEspecie">Tipo de Especie</option>-->#}
{##}
{#{% endblock%}#}


{% block contenido_lista %}


<!-- mt-4 mb-4  <div class="row "></div>-->
{% for v in object_list %}

<section id="about" class="about   w-100 {% if forloop.counter|divisibleby:2 %}bd_gris{% endif %}">
      <div class="container" data-aos="fade-up">


<div class="row position-relative  ">

          <div class="col-lg-7 about-img " style="background-image: url({% if v.Imagen %}{{v.Imagen.url}}{% else %}'{% static 'img/especie_no_imagen.jpg' %}'{% endif %});"></div>

          <div class="col-lg-7">
            <h2>{{v.nombreCientifico}}</h2>
            <div class="our-story {% if forloop.counter|divisibleby:2 %}bd_blanco{% endif %}">
              <h4>{{v.nombreComun}}</h4>
              <h3>{{v.tipoDeEspecie}}</h3>

                <p>{{v.descripcion|safe}}</p>

            <div class="watch-video d-flex align-items-center position-relative">
                <i class="bi bi-info-circle"></i>
                <a href="/Servicios/Especies/findById/{{v.id}}" class=" stretched-link">Leer Más</a>
              </div>

            </div>

          </div>

        </div>




      </div>
</section>






{% empty %}
    <section id="about" class="about   w-100 ">
      <div class="container" data-aos="fade-up">


        <div class="row position-relative  ">

                  <div class="col text-center" >
                      <h1><b>No se encontraron resultados.</b></h1>
                  </div>
        </div>
      </div>
    </section>




{% endfor %}

{% endblock%}


{% block scripts_datos_filtros %}


    FT.addT("nombreCientifico","Científico");
    FT.addT("nombreComun","Común");

    FT.addP([
        ["animal","Animal"]
    ,["vegetal","Vegetal"]
        ],"tipoDeEspecie","Tipo")


{% endblock%}

