{% extends "visualCliente/lista_agradable.html" %}
{% load static %}
{% load poll_extras %}
{% block titulo %}
    Instituciones Científicas
{% endblock %}



{% block option_campos_select_filtros %}
<option value="Nombre">Nombre</option>
<option value="Contacto">Contacto</option>
<option value="Telefono">Telefono</option>
<option value="Correo">Correo</option>
<option value="Provincia">Provincia</option>
<option value="Municipio">Municipio</option>
<option value="Tipo">Tipo</option>
<option value="Tecnologia">Tecnología</option>
{% endblock%}


{% block contenido_lista %}


<!-- mt-4 mb-4  <div class="row "></div>-->
{% for v in object_list %}

<section id="about" class="about   w-100 {% if forloop.counter|divisibleby:2 %}bd_gris{% endif %}">
      <div class="container" data-aos="fade-up">


<div class="row position-relative  ">

          <div class="col-lg-7 about-img " style="background-image: url({% if v.Imagen %}{{v.Imagen.url}}{% else %}'{% static 'img/institucion_no_imagen.jpg' %}'{% endif %});"></div>

          <div class="col-lg-7">
            <h2>{{v.Nombre}}</h2>
            <div class="our-story {% if forloop.counter|divisibleby:2 %}bd_blanco{% endif %}">
              <h4>{{v.provincia.nombre}} - {{v.municipio.nombre}}</h4>
              <h3>{{v.tipoDeInstitucionCientifica.nombre}}</h3>
              <p>{{v.Direccion}}</p>
              <ul>
                <li><i class="bi bi-check-circle"></i> <span>{{v.Contacto}}</span></li>
                <li><i class="bi bi-check-circle"></i> <span>{{v.Telefono}}</span></li>
                <li><i class="bi bi-check-circle"></i> <span>{{v.Correo}}</span></li>
              </ul>
                <p><b>Tecnologías</b></p>
                <ul>
                {% for tecno in v.tecnologias.all %}
                    <li><i class="bi bi-tag"></i> <span>{{tecno}}</span></li>
                    <li><i class="bi bi-dot"></i> <span>{{tecno.tipoDeTecnologia.nombre}}</span></li>
                    {% empty %}
                    <li><i class="bi bi-tag"></i> No se encontraron Tecnologías.</li>
                {% endfor %}
                </ul>

              <div class="watch-video d-flex align-items-center position-relative">
                <i class="bi bi-info-circle"></i>
                <a href="/instituciones_tecnologicas/findById/{{v.id}}" class=" stretched-link">Leer Más</a>
              </div>
            </div>
          </div>

        </div>




      </div>
</section>






{% empty %}
<section id="about" class="about   w-100 ">
      <div class="container" data-aos="fade-up">


        <div class="row position-relative  ">

                  <div class="col text-center" >
                      <h1><b>No se encontraron resultados.</b></h1>
                  </div>
        </div>
      </div>
    </section>



{% endfor %}

{% endblock%}
{##}
{#{% block scripts_agregar_puntos %}#}
{#       <script>#}
{#           {% for punto in listaPuntos %}#}
{#       LM.add({{ punto.latitud|numeroConComa}},{{ punto.longitud|numeroConComa }},"{{ punto.textoAMostrar }}");#}
{#           {% endfor %}#}
{#       </script>#}
{#    {% endblock%}#}


{% block scripts_datos_filtros %}

FT.addT("nombre","Nombre");
    FT.addT("Contacto","Contacto");
    FT.addT("Telefono","Telefono");
    FT.addT("Correo","Correo");
{#    FT.addP([#}
{#        {% for v in provincias %}#}
{#            {% if not forloop.first %},{% endif %}["{{ v }}","{{ v }}"]#}
{#        {% endfor %}#}
{##}
{#        ],"Provincia","Provincia")#}
{#    FT.addP([#}
{#        {% for v in municipios %}#}
{#            {% if not forloop.first %},{% endif %}["{{ v }}","{{ v }}"]#}
{#        {% endfor %}#}
{##}
{#        ],"Municipio","Municipio")#}
    FT.addM([
        {% for v in ProvinciaYMunicipio %}
            {% if not forloop.first %},{% endif %}["{{ v.0 }}","{{ v.0 }}"
            ,[
                {% for m in v.1 %}
                    {% if not forloop.first %},{% endif %}["{{ m }}","{{ m }}"]
                {% endfor %}
                ]
            ]
        {% endfor %}

        ],"ProvinciaYMunicipio","Provincia")
    FT.addP([
        {% for v in tipos %}
            {% if not forloop.first %},{% endif %}["{{ v }}","{{ v }}"]
        {% endfor %}

        ],"Tipo","Tipo")
    FT.addT("Tecnologia","Tecnologia");
    FT.addP([
        {% for v in tiposTecnologia %}
            {% if not forloop.first %},{% endif %}["{{ v }}","{{ v }}"]
        {% endfor %}

        ],"TipoDeTecnologia","Tipo De Tecnologia")

{% endblock%}
