{% extends "visualCliente/con_mapa_provincia.html" %}
{% load static %}
{% load poll_extras %}
{% block titulo %}
    Industria Citífica
{% endblock %}



{% block contenido %}

<!-- ======= Blog Details Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row g-5">

          <div class="col-lg-8">

            <article class="blog-details">
                {% if object.Imagen %}
              <div class="post-img">
                <img src="{{ object.Imagen.url }}" alt="" class="img-fluid">
              </div>
                {% endif %}
              <h2 class="title">{{object.Nombre}}</h2>

              <div class="meta-top">
                <ul>
                  <li class="d-flex align-items-center"><i class="bi bi-person"></i>
<!--                      <a href="blog-details.html"> </a>-->
                          {{object.Contacto}}</li>
                  <li class="d-flex align-items-center"><i class="bi bi-geo-alt"></i>
<!--                      <a href="blog-details.html">-->
<!--                          <time datetime="2020-01-01">Jan 1, 2022</time></a>-->
                      {{object.provincia.nombre}}
                  </li>
                  <li class="d-flex align-items-center"><i class="bi bi-geo-fill"></i>
<!--                      <a href="blog-details.html"> </a>-->
                      {{object.municipio.nombre}}
                  </li>
                </ul>
              </div><!-- End meta top -->

              <div class="content">
                {% if object.descripcion %}
                <p>
                  {{object.descripcion|safe}}
                </p>
                {% endif %}

              </div><!-- End post content -->

<!--              <div class="meta-bottom">-->
<!--                <i class="bi bi-folder"></i>-->
<!--                <ul class="cats">-->
<!--                  <li><a href="#">Business</a></li>-->
<!--                </ul>-->

<!--                <i class="bi bi-tags"></i>-->
<!--                <ul class="tags">-->
<!--                  <li><a href="#">Creative</a></li>-->
<!--                  <li><a href="#">Tips</a></li>-->
<!--                  <li><a href="#">Marketing</a></li>-->
<!--                </ul>-->
<!--              </div>-->
                <!-- End meta bottom -->

            </article><!-- End blog post -->

<!--            <div class="post-author d-flex align-items-center">-->
<!--              <img src="assets/img/blog/blog-author.jpg" class="rounded-circle flex-shrink-0" alt="">-->
<!--              <div>-->
<!--                <h4>Jane Smith</h4>-->
<!--                <div class="social-links">-->
<!--                  <a href="https://twitters.com/#"><i class="bi bi-twitter"></i></a>-->
<!--                  <a href="https://facebook.com/#"><i class="bi bi-facebook"></i></a>-->
<!--                  <a href="https://instagram.com/#"><i class="biu bi-instagram"></i></a>-->
<!--                </div>-->
<!--                <p>-->
<!--                  Itaque quidem optio quia voluptatibus dolorem dolor. Modi eum sed possimus accusantium. Quas repellat-->
<!--                  voluptatem officia numquam sint aspernatur voluptas. Esse et accusantium ut unde voluptas.-->
<!--                </p>-->
<!--              </div>-->
<!--            </div>-->
              <!-- End post author -->


          </div>

          <div class="col-lg-4">

            <div class="sidebar">
            <!--
              <div class="sidebar-item search-form">
                <h3 class="sidebar-title">Search</h3>
                <form action="" class="mt-3">
                  <input type="text">
                  <button type="submit"><i class="bi bi-search"></i></button>
                </form>
              </div>-->
                <!-- End sidebar search formn-->

              <div class="sidebar-item categories">
                <h3 class="sidebar-title">Ubicación</h3>

{#                  <iframe#}
{#        src="https://map.positionstack.com/export/embed.html?bbox={{ b|numeroConComa }},{{ a|numeroConComa }},{{ d|numeroConComa }},{{ c|numeroConComa }}&layer=mapnik&marker={{ latitud|numeroConComa }},{{ longitud|numeroConComa }}"#}
{#        width="600" height="450" style="border:0;"#}
{#        allowfullscreen="" loading="lazy"#}
{#        referrerpolicy="no-referrer-when-downgrade">#}
{##}
{#</iframe>#}


                  <div class="mt-3" id="chartdiv" style="
                width: 100%;
            height: 300px;">

                </div>
                <ul class="mt-3">
                  <li><i class="bi bi-signpost"></i><b> Provicia:</b> {{object.provincia.nombre}}</li>
                    <li><i class="bi bi-signpost"></i><b> Municipio:</b> {{object.municipio.nombre}}</li>
                    <li><i class="bi bi-signpost-split"></i><b> Dirección:</b> {{object.Direccion}}</li>





                </ul>
              </div>
              <div class="sidebar-item categories">
                <h3 class="sidebar-title">Contacto</h3>
                <ul class="mt-3">

                  <li><i class="bi bi-telephone"></i><b> Teléfono:</b> {{object.Telefono}}</li>
                  <li><i class="bi bi-envelope"></i><b> Correo:</b> {{object.Correo}}</li>
                  <li><i class="bi bi-person"></i><b> Responsable:</b> {{object.Contacto}}</li>
              </ul>
              </div>

              <div class="sidebar-item categories">
                <h3 class="sidebar-title">Características</h3>
                <ul class="mt-3">

                  <li><i class="bi bi-back"></i><b> Tipo:</b> {{object.tipoDeInstitucionCientifica.nombre}}<br/></li>


              </ul>
              </div>



              <div class="sidebar-item recent-posts">
                <h3 class="sidebar-title">Tecnologías</h3>

                <div class="mt-3">
                {% for tecno in object.tecnologias.all %}
                  <div class="post-item mt-3">

<!--                    <div class=""-->
<!--                    style="background-image: url({% if tecno.Imagen %}{{ tecno.Imagen.url }}{% else %}'{% static 'img/tecnologia_no_imagen.jpg' %}'{% endif %});-->
<!--                    background-size: cover;-->
<!--                ">-->


<!--                    </div>-->

<!--                    <br/>-->
<!--                    -->
<!--                    <br/>-->
                      <ul class="ul_sin_puntos"
                      style="    list-style: none; padding: 0;"
                      >
                        <li class="text-center" ><img src="{% if tecno.Imagen %}{{tecno.Imagen.url}}{% else %}{% static 'img/tecnologia_no_imagen.jpg' %}{% endif %}"
                                                      alt=""
                                                      style="margin-right: 0;"
                        ></li>
                        <li class="text-center mt-2" ><h4><a
                                href="/Servicios/Tecnologias/findById/{{tecno.id}}"
                        >{{tecno.nombre}}</a></h4></li>
                        <li><i class="bi bi-bookmark"></i><b> Acción:</b> <span>{{tecno.accionEsperada}}</span></li>

                        <li><i class="bi bi-back"></i><b> Tipo:</b><span>{{tecno.tipoDeTecnologia.nombre}}</span> </li>
                        {% for espe in tecno.especies.all %}
                        <li><i class="bi {% if espe.tipoDeEspecie == 'animal' %}bi-piggy-bank {% else %}bi-flower1 {% endif %}"></i><span>{{espe.nombreComun}}</span> </li>

                        {% endfor %}
                      </ul>

<!--                    <div> bi-flower1-->
<!--                      -->

<!--                    </div>-->
                  </div><!-- End recent post item-->
                {% empty %}
                  <div class="post-item mt-3">
                    <i class="bi bi-tag "></i> No se encontraron Tecnologías.
                  </div>

                {% endfor %}


                </div>

              </div><!-- End sidebar recent posts-->


              <!-- End sidebar categories bounding-box-circles-->


            </div><!-- End Blog Sidebar -->

          </div>
        </div>

      </div>
    </section><!-- End Blog Details Section -->





{% endblock%}



{% block scripts_extras %}
<script>
{#fetch('https://api.positionstack.com/v1/forward?access_key=477c3c2370d1f711a7d1c3c79c72e685&query=1600 Pennsylvania Ave NW - Washington&limit=1')#}
{#  .then(response => response.json())#}
{#  .then(data => console.log(data));#}
{##}
{#$.ajax({#}
{#    url: 'https://api.positionstack.com/v1/forward',#}
{#    data: {#}
{#      access_key: '477c3c2370d1f711a7d1c3c79c72e685',#}
{#      query: '1600 Pennsylvania Ave NW - Washington',#}
{#      limit: 1#}
{#    }#}
{#  }).done(function(data) {#}
{#    console.log(JSON.parse(data));#}
{#  });#}

</script>

{% endblock%}