{% extends "visualCliente/padre_breadcrumbs.html" %}
{% load static %}
{% load poll_extras %}
{% block titulo %}
    Principal
{% endblock %}



{% block contenido %}

<section>
    <div class="container w-100 contact" data-aos="fade-up">

<!-- -->
    <div class="row php-email-form">
        <div class="col-10 ">


            <form  id="idFormuarioGET" method="get" class=" ">
                {% csrf_token %}

                <input id="idHidden_campo" type="hidden" name="campo" />
                <input id="idHidden_q" type="hidden" name="q" />
            </form>
                    <div class="row gy-4">
                        <div class="col-lg-10 form-group">

{#                            <div class="input-group">#}
{##}
{#                                <input type="text" name="q" class="form-control" style="width: 70%;" id="name" placeholder="Busqueda" required>#}
{#                                <select name="campo" class="form-select">#}
{#                                    {% block option_campos_select_filtros %}{% endblock%}#}
{##}
{#                                </select>#}
{#                            </div>#}

                            <div class="input-group">
                            <select id="idValor_select"
                                name="campo2" style="width: 55%;"
                                    class="form-select">
                                    <option value="nombreCientifico">Científico</option>
                                    <option value="nombreComun">Común</option>
                                    <option value="tipoDeEspecie">Tipo</option>

                                </select>
                                <input  id="idValor_text" type="text" name="q2" class="form-control"
                                        style="width: 55%;" id="name" placeholder="Busqueda" required>
                                <select id="idCampoABuscar" name="campo" class="form-select">


                                </select>
                            </div>

                        </div>

                        <div class="col-lg-2 form-group d-flex justify-content-center">

                            <button id="idBoton" type="submit" class="btn"><i class="bi bi-search text-light"></i></button>
                        </div>
                    </div>






        </div>
        <div class="col-2">
            <div class="btn-group" role="group" aria-label="exportar">
                <form method="get" action="{{urlExportar}}/reporte/pdf/">
                {% csrf_token %}
                 {% if 'q' in request.GET and 'campo' in request.GET %}
                <input type="hidden" name="campo" value="{{request.GET.campo}}">
                 <input type="hidden" name="q" value="{{request.GET.q}}">
                 {% endif %}
                <button type="submit" class="btn btn_exportar"
                    style="border-radius: 5px 0px 0px 5px;"
                ><i class="bi bi-filetype-pdf text-light"></i></button>
            </form>
                <form method="get" action="{{urlExportar}}/reporte/csv/">
                {% csrf_token %}
                 {% if 'q' in request.GET and 'campo' in request.GET %}
                <input type="hidden" name="campo" value="{{request.GET.campo}}">
                 <input type="hidden" name="q" value="{{request.GET.q}}">
                 {% endif %}
                <button type="submit" class="btn btn_exportar"
                style="border-radius: 0px"
                ><i class="bi bi-filetype-csv text-light"></i></button>
            </form>
                <form method="get" action="{{urlExportar}}/reporte/exel/">
                {% csrf_token %}
                 {% if 'q' in request.GET and 'campo' in request.GET %}
                <input type="hidden" name="campo" value="{{request.GET.campo}}">
                 <input type="hidden" name="q" value="{{request.GET.q}}">
                 {% endif %}
                <button type="submit" class="btn btn_exportar"
                style="border-radius: 0px 5px 5px 0px;"
                ><i class="bi bi-filetype-xls text-light"></i></button>
            </form>
            </div>


        </div>

<!--bi-filetype-pdf-->
    </div>
        </div>
</section>

<section>
    <div class="container">

        <div class="row ">
            <div class="col">
                <div id="chartdiv" style="
                width: 100%;
            height: 500px;">

                </div>
            </div>
        </div>
    </div>
</section>

    {% block contenido_lista %}{% endblock%}
<!-- -->
<section>
    <div class="container">

        <div class="row ">
            <div class="col d-flex justify-content-center">
                {% if is_paginated %}
                <div class="pagination ">
                    <span class="page-links">

                        <a  class="btn btn_amarillo {% if not page_obj.has_previous %} isDisable {% endif %}"
                            {% if page_obj.has_previous %}
                                href="{{ request.path }}?page={{ page_obj.previous_page_number }}{% if 'q' in request.GET and 'campo' in request.GET %}&campo={{ request.GET.campo }}&q={{ request.GET.q }}{% endif %}"
                            {% endif %}
                        ><i class="bi bi-arrow-left text-light"></i>
                        </a>

                        <span class="page-current">
                            Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                        </span>

                        <a class="btn btn_amarillo {% if not page_obj.has_next %} isDisable {% endif %}"
                           {% if page_obj.has_next %}
                                href="{{ request.path }}?page={{ page_obj.next_page_number }}{% if 'q' in request.GET and 'campo' in request.GET %}&campo={{ request.GET.campo }}&q={{ request.GET.q }}{% endif %}"
                            {% endif %}
                        ><i class="bi bi-arrow-right text-light"></i>
                        </a>



                    </span>
                </div>
                {% endif %}
            </div>



        </div>

    </div>
</section>










{% endblock%}

{% block scripts_extras %}

    <script src="{% static 'lib/amcharts5/index.js' %}"></script>
<script src="{% static 'lib/amcharts5/map.js' %}"></script>
<script src="{% static 'lib/amcharts5/themes/Animated.js' %}"></script>
    <script src="{% static 'lib/amcharts5/geodata/cubaHigh.js' %}"></script>

    <script>
    class PuntoEnElMapa{
        constructor(latitud,longitud,textoAMostrar){
            this.latitud=latitud;
            this.longitud=longitud;
            this.textoAMostrar=textoAMostrar;
        }
    }
    class ListaDeDatosMapa{
        constructor(){
            this.lista=[];
        }
        add(latitud,longitud,textoAMostrar){
            this.lista.push(new PuntoEnElMapa(latitud,longitud,textoAMostrar))
        }
    }

    const LM=new ListaDeDatosMapa();



     {% for punto in listaPuntos %}
       LM.add({{ punto.latitud|numeroConComa}},{{ punto.longitud|numeroConComa }},"{{ punto.textoAMostrar }}");
           {% endfor %}

</script>


{#   {% block scripts_agregar_puntos %}#}
{##}
{#    {% endblock%}#}


<script>


listaDatos=[];
for (let i = 0; i < LM.lista.length; i++) {
    const e = LM.lista[i];
    listaDatos.push(
        {
    "type": "Feature",
    "properties": {
      "name": e.textoAMostrar//"otra2"
      ,"value":e.textoAMostrar//"valor"
    },
    "geometry": {
      "type": "Point",//longitud latitud
      "coordinates": [
      e.longitud//-81.905378
      ,e.latitud//  , 23.057232
    ]
    },

  }
    );
}


// GeoJSON data
var cities = {
  "type": "FeatureCollection",
  "features": listaDatos


};

var root = am5.Root.new("chartdiv");

// Set themes
root.setThemes([
  am5themes_Animated.new(root)
]);

// Create chart
var chart = root.container.children.push(
  am5map.MapChart.new(root, {
    panX: "rotateX",
    panY: "rotateY",
    projection: am5map.geoNaturalEarth1()
  })
);

// Create polygon series
var polygonSeries = chart.series.push(
  am5map.MapPolygonSeries.new(root, {
    geoJSON: window.am5geodata_cubaHigh,
    exclude: ["AQ"]

    // ,interactive: true
  })
);



// Create point series
var pointSeries = chart.series.push(
  am5map.MapPointSeries.new(root, {
    geoJSON: cities
  })
);

pointSeries.bullets.push(function() {
  return am5.Bullet.new(root, {
    sprite: am5.Circle.new(root, {
      radius: 5,
      fill: am5.color(0xffba00)
      , tooltipText: "{name}"//"{name}: {value}"
    })
  });
});

chart.set("zoomControl", am5map.ZoomControl.new(root, {}));


</script>

    <script>



        class ParValor{
            constructor(valor,titulo){
                this.valor=valor;
                this.titulo=titulo;
            }
        }

        class SubFiltroParValor{
            constructor(parValor){
                this.lista=[];
                this.indiceSeleccionado=0;
                this.id_select="";
                this.parValor=parValor;
            }
            add(valor,titulo) {
                this.lista.push(new ParValor(valor,titulo));
            }
            llenar_Select(){
                const select=document.getElementById(this.id_select);
                select.innerHTML='';
                for (let i = 0; i < this.lista.length; i++) {
                    const v = this.lista[i];

                    const opcion=document.createElement('option');
                    opcion.value=v.valor;
                    opcion.textContent=v.titulo;
                    select.appendChild(opcion);
                }

                select.selectedIndex=this.indiceSeleccionado;
            }
            setIndiceSeleccionado(indice){
                this.indiceSeleccionado=indice;
            }
        }
        class SubFiltroTexto{
            constructor(parValor){
                this.texto="";
                this.parValor=parValor;
            }
        }
        class Filtro{
            constructor(subFiltro,parValor){
                this.subFiltro=subFiltro;
                this.parValor=parValor;
            }
        }

        class Filtrador{
            constructor(){
                this.lista=[];
                this.indiceSeleccionado=0;
                this.id_select_campo;

                this.id_text_valor;
                this.id_select_valor;

            }
            addT(campo,titulo){
                let pv=new ParValor(campo,titulo);
                this.lista.push(new Filtro(new SubFiltroTexto(pv),pv));
            }
            addP(listaParValorTitulo,campo,titulo){
                let pv=new ParValor(campo,titulo);
                const fv=new SubFiltroParValor(pv);
                for (let i = 0; i < listaParValorTitulo.length; i++) {
                    const v = listaParValorTitulo[i];

                    fv.add(v[0],v[1]);
                }

                this.lista.push(new Filtro(fv,pv));
            }
            llenar_Select(){
                const select=document.getElementById(this.id_select_campo);
                select.innerHTML='';
                for (let i = 0; i < this.lista.length; i++) {
                    const v = this.lista[i];

                    const opcion=document.createElement('option');
                    let pv=v.parValor;
                    opcion.value=pv.valor;
                    opcion.textContent=pv.titulo;
                    select.appendChild(opcion);
                }


            }
            getFiltroActual(){
                return this.lista[this.indiceSeleccionado];
            }
            setSeleccionado(indice){
                this.indiceSeleccionado=indice;
            }
            actualizarFiltroVisualActual(){
                const text_valor=document.getElementById(this.id_text_valor);

                let filtroActual=this.getFiltroActual();
                let subFiltro=filtroActual.subFiltro;

                let esSelect=subFiltro instanceof SubFiltroParValor;

                if(esSelect){
                    subFiltro.id_select=this.id_select_valor;
                    subFiltro.llenar_Select();
                }else{
                    text_valor.value=subFiltro.texto;
                }

                mostrarOcultarElemento(this.id_select_valor,esSelect);
                mostrarOcultarElemento(this.id_text_valor,!esSelect);
            }
        }

        function addOnChange_Select(id,metodo){//(v,i)=>{}
            const select=document.getElementById(id);
            select.onchange=function() {
                const valorSeleccionado=this.value;
                const indiceSeleccionado=this.selectedIndex;
                metodo(valorSeleccionado,indiceSeleccionado);
            }
        }

        function llenar_Select_subFiltroParValor(id,subFiltroParValor){
            const select=document.getElementById(id);
            select.innerHTML='';
            for (let i = 0; i < subFiltroParValor.lista.length; i++) {
                    const v = subFiltroParValor[i];

                    const opcion=document.createElement('option');
                    opcion.value=v.valor;
                    opcion.textContent=v.titulo;
                    select.appendChild(opcion);
                }

        }
        function mostrarOcultarElemento(id,mostrar){
            const elemento=document.getElementById(id);
            if(mostrar){
                elemento.style.display='block';
            }else{
                elemento.style.display='none';
            }
        }

        function setActualizar_Valor(
            filtrador
            ){
            const id_text_valor=filtrador.id_text_valor;
            const id_select_valor=filtrador.id_select_valor;
            const id_select_campo=filtrador.id_select_campo;

            const select_valor=document.getElementById(id_select_valor);
            const text_valor=document.getElementById(id_text_valor);
            const select_campo=document.getElementById(id_select_campo);

            addOnChange_Select(id_select_campo,(v,i)=>{

                let filtroAnterior=filtrador.getFiltroActual();
                let subFiltroAnterior=filtroAnterior.subFiltro;

                if(subFiltroAnterior instanceof SubFiltroParValor){
                    subFiltroAnterior.setIndiceSeleccionado(select_valor.selectedIndex);

                }else{
                    subFiltroAnterior.texto=text_valor.value;

                }


                filtrador.setSeleccionado(i);
                filtrador.actualizarFiltroVisualActual();




            });
        }

        function establecerValores(filtrador){
            filtrador.llenar_Select();
            filtrador.actualizarFiltroVisualActual();
        }

        const FT=new Filtrador();
        FT.id_select_campo="idCampoABuscar";
        FT.id_select_valor="idValor_select";
        FT.id_text_valor="idValor_text";

        {% block scripts_datos_filtros %}{% endblock %}

        {#FT.addT("asd","Asd");#}
        {#FT.addP([#}
        {#    ["a","A"]#}
        {#    ,["b","B"]#}
        {#    ,["c","C"]#}
        {#    ,["d","D"]#}
        {#    ,["e","E"]#}
        {#],"0asd","0Asd")#}
        {#FT.addT("qwe","Qwe");#}
        {#FT.addP([#}
        {#    ["a0","A0"]#}
        {#    ,["b0","B0"]#}
        {#    ,["c0","C0"]#}
        {#    ,["d0","D0"]#}
        {#    ,["e0","E0"]#}
        {#],"0qwe","0Qwe")#}
        {#FT.addT("zxc","0zxc");#}
        {#FT.addT("123","0123");#}
        {#FT.addP([#}
        {#    ["a1","A1"]#}
        {#    ,["b1","B1"]#}
        {#    ,["c1","C1"]#}
        {#    ,["d1","D1"]#}
        {#    ,["e1","E1"]#}
        {#],"1zxc","1zxc");#}

        establecerValores(FT);
        setActualizar_Valor(FT);

        ID_BOTON="idBoton";
        ID_FORMULARIO="idFormuarioGET";
        ID_HIDEN_CAMPO="idHidden_campo";
        ID_HIDEN_Q="idHidden_q";

        const boton=document.getElementById(ID_BOTON);
        const formualario=document.getElementById(ID_FORMULARIO);
        boton.addEventListener('click',e=>{
            e.preventDefault();

            let filtroAnterior=FT.getFiltroActual();
            let subFiltroAnterior=filtroAnterior.subFiltro;

            const id_text_valor=FT.id_text_valor;
            const id_select_valor=FT.id_select_valor;
            const id_select_campo=FT.id_select_campo;

            const select_valor=document.getElementById(id_select_valor);
            const text_valor=document.getElementById(id_text_valor);
            const select_campo=document.getElementById(id_select_campo);


            let valor=subFiltroAnterior instanceof SubFiltroTexto? text_valor.value:select_valor.value;
            let campo=select_campo.value;

            const form_campo=document.getElementById(ID_HIDEN_CAMPO);
            const form_q=document.getElementById(ID_HIDEN_Q);

            form_campo.value=campo;
            form_q.value=valor;

            formualario.submit();
        });

    </script>


{% endblock%}