{% extends "visualCliente/con_mapa_provincia.html" %}
{% load static %}

{% block titulo %}
    Industria Productiva
{% endblock %}



{% block contenido %}

<!-- ======= Blog Details Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row g-5">

          <div class="col-lg-8">

            <article class="blog-details">
                {% if object.Imagen %}
              <div class="post-img">
                <img src="{{ object.Imagen.url }}" alt="" class="img-fluid">
              </div>
                {% endif %}
              <h2 class="title">{{object.Nombre}}</h2>

              <div class="meta-top">
                <ul>
                  <li class="d-flex align-items-center"><i class="bi bi-person"></i>
<!--                      <a href="blog-details.html"> </a>-->
                          {{object.Contacto}}</li>
                  <li class="d-flex align-items-center"><i class="bi bi-geo-alt"></i>
<!--                      <a href="blog-details.html">-->
<!--                          <time datetime="2020-01-01">Jan 1, 2022</time></a>-->
                      {{object.provincia.nombre}}
                  </li>
                  <li class="d-flex align-items-center"><i class="bi bi-geo-fill"></i>
<!--                      <a href="blog-details.html"> </a>-->
                      {{object.municipio.nombre}}
                  </li>
                </ul>
              </div><!-- End meta top -->

              <div class="content">
                {% if object.descripcion %}
                <p>
                  {{object.descripcion|safe}}
                </p>
                {% endif %}

              </div><!-- End post content -->

<!--              <div class="meta-bottom">-->
<!--                <i class="bi bi-folder"></i>-->
<!--                <ul class="cats">-->
<!--                  <li><a href="#">Business</a></li>-->
<!--                </ul>-->

<!--                <i class="bi bi-tags"></i>-->
<!--                <ul class="tags">-->
<!--                  <li><a href="#">Creative</a></li>-->
<!--                  <li><a href="#">Tips</a></li>-->
<!--                  <li><a href="#">Marketing</a></li>-->
<!--                </ul>-->
<!--              </div>-->
                <!-- End meta bottom -->

            </article><!-- End blog post -->

<!--            <div class="post-author d-flex align-items-center">-->
<!--              <img src="assets/img/blog/blog-author.jpg" class="rounded-circle flex-shrink-0" alt="">-->
<!--              <div>-->
<!--                <h4>Jane Smith</h4>-->
<!--                <div class="social-links">-->
<!--                  <a href="https://twitters.com/#"><i class="bi bi-twitter"></i></a>-->
<!--                  <a href="https://facebook.com/#"><i class="bi bi-facebook"></i></a>-->
<!--                  <a href="https://instagram.com/#"><i class="biu bi-instagram"></i></a>-->
<!--                </div>-->
<!--                <p>-->
<!--                  Itaque quidem optio quia voluptatibus dolorem dolor. Modi eum sed possimus accusantium. Quas repellat-->
<!--                  voluptatem officia numquam sint aspernatur voluptas. Esse et accusantium ut unde voluptas.-->
<!--                </p>-->
<!--              </div>-->
<!--            </div>-->
              <!-- End post author -->


          </div>

          <div class="col-lg-4">

            <div class="sidebar">
            <!--
              <div class="sidebar-item search-form">
                <h3 class="sidebar-title">Search</h3>
                <form action="" class="mt-3">
                  <input type="text">
                  <button type="submit"><i class="bi bi-search"></i></button>
                </form>
              </div>-->
                <!-- End sidebar search formn-->

              <div class="sidebar-item categories">
                <h3 class="sidebar-title">Ubicación</h3>
                   <div class="mt-3" id="chartdiv" style="
                width: 100%;
            height: 100px;">

                </div>
                <ul class="mt-3">
                  <li><i class="bi bi-signpost"></i><b> Provicia:</b> {{object.provincia.nombre}}<br/></li>
                    <li><i class="bi bi-signpost"></i><b> Municipio:</b> {{object.municipio.nombre}}<br/></li>
                    <li><i class="bi bi-signpost-split"></i><b> Dirección:</b> {{object.Direccion}}<br/></li>





                </ul>
              </div>
              <div class="sidebar-item categories">
                <h3 class="sidebar-title">Contacto</h3>
                <ul class="mt-3">

                  <li><i class="bi bi-telephone"></i><b> Teléfono:</b> {{object.Telefono}}<br/></li>
                  <li><i class="bi bi-envelope"></i><b> Correo:</b> {{object.Correo}}<br/></li>
                  <li><i class="bi bi-person"></i><b> Responsable:</b> {{object.Contacto}}<br/></li>
              </ul>
              </div>

              <div class="sidebar-item categories">
                <h3 class="sidebar-title">Características</h3>
                <ul class="mt-3">

                  <li><i class="bi bi-back"></i><b> Tipo:</b> {{object.tipoDeInstitucionProductiva.nombre}}<br/></li>
                  {% if object.TieneAlamacenConRefrigeracion %}
                  <li><i class="bi bi-thermometer-snow"></i><b> Refrigeración:</b> {{object.capacidadDeRefrigeracion}}<br/></li>
                  {% endif %}
                  <li><i class="bi bi-box"></i><b> Capacidad de Productos:</b> {{object.capacidadDeProductos}}<br/></li>

              </ul>
              </div>

              <div class="sidebar-item categories">
                <h3 class="sidebar-title">Productos</h3>
                <ul class="mt-3">
                    {% for tecno in object.producto_set.all %}
                    <li><i class="bi bi-tag"></i> {{tecno.nombre}}<br/></li>
                    <li class="ms-4"><i class="bi bi-box"></i><b> Tipo:</b><span>{{tecno.tipoDeProducto.nombre}}</span></li>
                    {% empty %}
                    <li><i class="bi bi-tag "></i> No se encontraron Productos.</li>
                {% endfor %}

                </ul>
              </div><!-- End sidebar categories bounding-box-circles-->


            </div><!-- End Blog Sidebar -->

          </div>
        </div>

      </div>
    </section><!-- End Blog Details Section -->





{% endblock%}

{% block scripts_extras %}


{% endblock%}